In [ ]:
# Importing Libraries\
# Task-1
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Data Preprocessing
df = pd.read_csv('/content/drug200.xls')
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [ ]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
df.tail()

     Age Sex      BP Cholesterol  Na_to_K   Drug
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

In [ ]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [ ]:
df.shape

(200, 6)

In [ ]:
# We are not having null values so we can skip handling null value step

In [ ]:
df['Drug'].unique() # Finding unique drugs categories

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [ ]:
df['Drug'].value_counts() # Finding the value counts of each drug category

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [ ]:
# Splitting the data
x = df.iloc[:,0:5]
x.head(2)

   Age Sex    BP Cholesterol  Na_to_K
0   23   F  HIGH        HIGH   25.355
1   47   M   LOW        HIGH   13.093

In [ ]:
y = pd.get_dummies(df['Drug'])
y.head(2)

   DrugY  drugA  drugB  drugC  drugX
0      1      0      0      0      0
1      0      0      0      1      0

In [ ]:
# Splitting the data into training and test 
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=21)
xtrain

     Age Sex      BP Cholesterol  Na_to_K
176   48   M    HIGH      NORMAL   10.446
111   47   F  NORMAL      NORMAL    6.683
114   20   F  NORMAL      NORMAL    9.281
14    50   F  NORMAL        HIGH   12.703
106   22   M  NORMAL        HIGH   11.953
..   ...  ..     ...         ...      ...
120   28   M  NORMAL        HIGH   27.064
112   35   M     LOW      NORMAL    9.170
48    23   M  NORMAL        HIGH   31.686
4     61   F     LOW        HIGH   18.043
56    65   M    HIGH      NORMAL   11.340

[160 rows x 5 columns]

In [ ]:
xtrain.shape,xtest.shape,x.shape

((160, 5), (40, 5), (200, 5))

In [ ]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
xtrain['Sex'] = le.fit_transform(xtrain['Sex'])
xtrain['BP'] = le.fit_transform(xtrain['BP'])
xtrain['Cholesterol'] = le.fit_transform(xtrain['Cholesterol'])
xtest['Sex'] = le.fit_transform(xtest['Sex'])
xtest['BP'] = le.fit_transform(xtest['BP'])
xtest['Cholesterol'] = le.fit_transform(xtest['Cholesterol'])

In [ ]:
xtrain['Sex']

176    1
111    0
114    0
14     0
106    1
      ..
120    1
112    1
48     1
4      0
56     1
Name: Sex, Length: 160, dtype: int64

In [ ]:
xtrain.head(2),xtest.head(2)

(     Age  Sex  BP  Cholesterol  Na_to_K
 176   48    1   0            1   10.446
 111   47    0   2            1    6.683,
      Age  Sex  BP  Cholesterol  Na_to_K
 144   39    1   0            0    9.664
 9     43    1   1            1   19.368)

In [ ]:
xtrain.shape,xtest.shape

((160, 5), (40, 5))

In [ ]:
# Building the ANN Model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# ANN Model
# Task-2
model = Sequential()
model.add(Dense(4,input_dim=5,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(26,activation='relu'))
model.add(Dense(5,activation='softmax'))

In [ ]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [ ]:
model.fit(xtrain,ytrain,epochs=50,batch_size=5,validation_data=(xtest,ytest))

Epoch 1/50
32/32 [==============================] - 0s 6ms/step - loss: 0.5422 - accuracy: 0.7500 - val_loss: 1.0773 - val_accuracy: 0.5750
Epoch 2/50
32/32 [==============================] - 0s 7ms/step - loss: 0.5317 - accuracy: 0.7563 - val_loss: 1.0830 - val_accuracy: 0.6000
Epoch 3/50
32/32 [==============================] - 0s 10ms/step - loss: 0.5226 - accuracy: 0.7688 - val_loss: 0.8713 - val_accuracy: 0.6500
Epoch 4/50
32/32 [==============================] - 0s 8ms/step - loss: 0.5119 - accuracy: 0.7375 - val_loss: 0.7581 - val_accuracy: 0.7000
Epoch 5/50
32/32 [==============================] - 0s 10ms/step - loss: 0.5211 - accuracy: 0.7625 - val_loss: 0.9664 - val_accuracy: 0.6000
Epoch 6/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5328 - accuracy: 0.7625 - val_loss: 0.7164 - val_accuracy: 0.7500
Epoch 7/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5111 - accuracy: 0.7750 - val_loss: 0.8409 - val_accuracy: 0.6500
Epoch 8/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5034 - accuracy: 0.7937 - val_loss: 1.3765 - val_accuracy: 0.5750
Epoch 9/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5213 - accuracy: 0.7688 - val_loss: 0.8272 - val_accuracy: 0.7000
Epoch 10/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5236 - accuracy: 0.7563 - val_loss: 1.0788 - val_accuracy: 0.5750
Epoch 11/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5456 - accuracy: 0.7625 - val_loss: 0.6985 - val_accuracy: 0.7500
Epoch 12/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5221 - accuracy: 0.7563 - val_loss: 0.7171 - val_accuracy: 0.7500
Epoch 13/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4927 - accuracy: 0.7812 - val_loss: 1.0198 - val_accuracy: 0.5750
Epoch 14/50
32/32 [==============================] - 0s 3ms/step - loss: 0.4805 - accuracy: 0.7750 - val_loss: 0.7372 - val_accuracy: 0.7500
Epoch 15/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5191 - accuracy: 0.7625 - val_loss: 0.7648 - val_accuracy: 0.7000
Epoch 16/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4886 - accuracy: 0.7875 - val_loss: 0.7695 - val_accuracy: 0.7000
Epoch 17/50
32/32 [==============================] - 0s 3ms/step - loss: 0.4917 - accuracy: 0.7563 - val_loss: 0.9227 - val_accuracy: 0.6250
Epoch 18/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4918 - accuracy: 0.7750 - val_loss: 0.7098 - val_accuracy: 0.7250
Epoch 19/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5111 - accuracy: 0.7625 - val_loss: 0.7073 - val_accuracy: 0.7750
Epoch 20/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4799 - accuracy: 0.7937 - val_loss: 0.9516 - val_accuracy: 0.6000
Epoch 21/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5462 - accuracy: 0.7437 - val_loss: 0.6805 - val_accuracy: 0.8000
Epoch 22/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5295 - accuracy: 0.7625 - val_loss: 0.7248 - val_accuracy: 0.7500
Epoch 23/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5178 - accuracy: 0.7437 - val_loss: 1.1745 - val_accuracy: 0.6000
Epoch 24/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4919 - accuracy: 0.7688 - val_loss: 0.9402 - val_accuracy: 0.6250
Epoch 25/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4834 - accuracy: 0.7812 - val_loss: 0.9236 - val_accuracy: 0.6500
Epoch 26/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4886 - accuracy: 0.8062 - val_loss: 0.9532 - val_accuracy: 0.6000
Epoch 27/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4794 - accuracy: 0.7812 - val_loss: 0.8418 - val_accuracy: 0.7250
Epoch 28/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4786 - accuracy: 0.7875 - val_loss: 0.7769 - val_accuracy: 0.7500
Epoch 29/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4885 - accuracy: 0.7812 - val_loss: 0.7427 - val_accuracy: 0.7000
Epoch 30/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4922 - accuracy: 0.7937 - val_loss: 1.1364 - val_accuracy: 0.5750
Epoch 31/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4881 - accuracy: 0.7812 - val_loss: 1.1345 - val_accuracy: 0.5750
Epoch 32/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4769 - accuracy: 0.7563 - val_loss: 1.4402 - val_accuracy: 0.5500
Epoch 33/50
32/32 [==============================] - 0s 4ms/step - loss: 0.5562 - accuracy: 0.7500 - val_loss: 1.4118 - val_accuracy: 0.5750
Epoch 34/50
32/32 [==============================] - 0s 3ms/step - loss: 0.4933 - accuracy: 0.7750 - val_loss: 0.8560 - val_accuracy: 0.6500
Epoch 35/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4772 - accuracy: 0.7875 - val_loss: 0.9695 - val_accuracy: 0.6000
Epoch 36/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4761 - accuracy: 0.7812 - val_loss: 0.9213 - val_accuracy: 0.6750
Epoch 37/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4680 - accuracy: 0.8000 - val_loss: 0.9115 - val_accuracy: 0.6000
Epoch 38/50
32/32 [==============================] - 0s 4ms/step - loss: 0.4773 - accuracy: 0.7812 - val_loss: 0.8670 - val_accuracy: 0.7000
Epoch 39/50
32/32 [==============================] - 0s 7ms/step - loss: 0.4685 - accuracy: 0.8000 - val_loss: 0.8090 - val_accuracy: 0.7000
Epoch 40/50
32/32 [==============================] - 0s 8ms/step - loss: 0.4733 - accuracy: 0.7875 - val_loss: 1.0490 - val_accuracy: 0.6000
Epoch 41/50
32/32 [==============================] - 0s 8ms/step - loss: 0.5043 - accuracy: 0.7688 - val_loss: 0.7518 - val_accuracy: 0.7500
Epoch 42/50
32/32 [==============================] - 0s 7ms/step - loss: 0.5897 - accuracy: 0.7500 - val_loss: 0.8412 - val_accuracy: 0.7000
Epoch 43/50
32/32 [==============================] - 0s 6ms/step - loss: 0.4852 - accuracy: 0.7812 - val_loss: 0.9901 - val_accuracy: 0.6000
Epoch 44/50
32/32 [==============================] - 0s 7ms/step - loss: 0.4672 - accuracy: 0.7812 - val_loss: 0.9008 - val_accuracy: 0.6750
Epoch 45/50
32/32 [==============================] - 0s 6ms/step - loss: 0.4590 - accuracy: 0.7812 - val_loss: 0.7807 - val_accuracy: 0.7250
Epoch 46/50
32/32 [==============================] - 0s 6ms/step - loss: 0.4683 - accuracy: 0.7875 - val_loss: 0.9131 - val_accuracy: 0.6500
Epoch 47/50
32/32 [==============================] - 0s 6ms/step - loss: 0.4636 - accuracy: 0.7812 - val_loss: 0.9062 - val_accuracy: 0.6250
Epoch 48/50
32/32 [==============================] - 0s 7ms/step - loss: 0.4624 - accuracy: 0.8000 - val_loss: 0.7153 - val_accuracy: 0.7750
Epoch 49/50
32/32 [==============================] - 0s 7ms/step - loss: 0.4937 - accuracy: 0.7812 - val_loss: 1.0446 - val_accuracy: 0.6000
Epoch 50/50
32/32 [==============================] - 0s 6ms/step - loss: 0.4584 - accuracy: 0.7937 - val_loss: 0.8618 - val_accuracy: 0.6750

In [ ]:
# Testing
# Task-3
random_data = np.random.rand(1,5)
random_data

array([[0.66579643, 0.89485577, 0.76782303, 0.51362141, 0.42757166]])

In [ ]:
ypred = model.predict(random_data)
ypred

1/1 [==============================] - 0s 25ms/step

array([[0.00188296, 0.24286509, 0.00973216, 0.10570689, 0.6398129 ]],
      dtype=float32)

In [ ]:
predicted_class = np.argmax(ypred)

In [ ]:
print(predicted_class)

4